{% extends 'layout.twig' %}


{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <header class="masthead">
            <div class="container">
                <div class="intro-text">
                    <span class="name">Mes articles</span>
                    <hr class="star-light">
                </div>
            </div>

        <a href="post/new" class="btn btn-lg btn-outline">
            <i class="fa fa-plus"></i>
            Nouvel article
        </a>

        <div class="container" id="postList">

            {% for post in posts %}
                <div class="postDiv">
                    <h2><a class="postLink" href="../web/post/{{ post.slug }}">{{ post.title }}</a></h2>
                    <p>{{ post.chapo | striptags}}</p>
                    <p><i>Mis à jour le {{ post.modificationDate | date("d/m/Y") }} par {{ post.author }}</i></p>
                </div>
            {% endfor %}

        </div>
    </header>

{% endblock %}


